{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
        {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"} }},
        {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "3.1"} }},
        {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.1"} }},
        {nitro, ".*", {git, "git://github.com/synrc/nitro",         {tag, "1.1"} }},
        {erlydtl,".*", {git, "git://github.com/erlydtl/erlydtl",    {tag, "0.11.1"} }}
       ]}.
{fetch_speed,fast_master}.
{verbose,1}.
{erlydtl_opts, [
                {doc_root,          "priv/templates"},
                {out_dir,    "ebin"},
                {compiler_options, [report, return, debug_info]},
                {source_ext, ".html"},
                {module_ext, "_view"}
               ]}.
