[
 {n2o, [{port, 8080},
        {app, pihto},
        {search,""},
        {route, pihto_n2o_routes},
        {log_modules, pihto_config},
        {log_level, pihto_config},
        {log_backend, n2o_log},
        {session,n2o_session},
        {origin,<<"*">>}
       ]},
 {kvs, [{dba,store_mnesia},
        {schema, [kvs_feed, kvs_user, pihto_image]} ]}
].
